body {
    background-color: #E43B66;
    width: 56%;
 }


 .semicircleUpperLeft{
    position: relative;
    top: 50%;
    left: 50%;
    padding: 15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 140px 0px 0px 0px;
    background-color: #0FA4A1;
    margin-top: 27%
} 

.semicircleUppRight{
    position: relative;
    top: 50%;
    left: 50%;
    padding: 15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 0px 140px 0px 0px;
    background-color: #F3EB68;
    margin-top: 27%;
}

.semicircleLowerLeft{
    position: relative;
    top: 50%;
    left: 50%;
    padding: 15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 0px 0px 0px 140px;
    background-color: #eab676;
    margin-top: 45.15%;
    margin-left: -36.25%;
}

.fix_width650px
{
    width: 100%;
    height: 20px;;
} 